@import "tailwindcss";

@theme {
  --color-primary: #001522;
  --color-accent: #fc6874;
  --breakpoint-xs: 400px;

  --animate-shake: shake 0.2s ease-in-out;
  --animate-slide-in: slide-in 0.2s ease-in-out;
  --animate-slide-out: slide-out 0.2s ease-in-out;

  @keyframes shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(6px);
    }
    75% {
      transform: translateX(-6px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes moving-line {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-250vw);
      opacity: 0.2;
    }
  }
}

.animate-moving-line {
  animation: moving-line 10s linear infinite;
}
.animate-moving-line2 {
  animation: moving-line 10s linear infinite;
  animation-delay: 5s;
}

.shapedividers {
  overflow: hidden;
  position: relative;
}
.shapedividers::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -60px;
  left: -1px;
  right: -10px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 271% 239px;
  background-position: 46% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23ffffff"/></svg>');
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #101522;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fdba74; /* Tailwind's orange-300 */
}

@media (min-width: 2100px) {
  .shapedividers::before {
    background-size: 209% calc(2vw + 360px);
  }
}

@layer utilities {
  .tab-underline {
    position: relative;
  }

  .tab-underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    height: 2px;
    width: 105%;
    background-color: theme("colors.accent");
    transition: transform 0.2s ease-in-out;
  }

  .tab-underline-active::after {
    transform: translateX(-50%) scaleX(1);
  }
}
